# This file creates automatic review requests for PRs based on the files touched.
# See this blog post for more info: https://github.com/blog/2392-introducing-code-owners

# Later rules override earlier rules

# As a fallback, ping the team
* @mozilla/normandy-owners

# add-on work needs to be reviewed by both a Firefox Peer and a comitter
recipe-client-addon/** @mozilla/normandy-owners @mozilla/normandy-firefox-peers
