.env
db.sqlite3
.DS_Store
webpack-stats-actions.json
__pycache__/
/assets/
/static/
/media/
GeoLite2-Country.mmdb
_build
/.cache/
/.pytest_cache/
/etc/ssl
/__version__/
/tmp
/node_modules
/product_details/
htmlcov/
yarn-error.log
test_artifacts/
