{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-order",
  ],
  "rules": {
    "color-hex-case": "upper",
    "max-empty-lines": 2,
    "order/declaration-block-order": [
      {
        "type": "at-rule",
        "name": "import",
      }, {
        "type": "at-rule",
        "name": "include",
      }, {
        "type": "at-rule",
        "name": "extend",
      },
      "custom-properties",
      "dollar-variables",
      "declarations",
      "rules",
      "at-rules",
    ],
    "order/declaration-block-properties-alphabetical-order": true,
  }
}