sudo: required
language: python

install: docker build -t normandy:build .
script: docker run --net host normandy:build py.test
after_success:
  - '[ -z "$DOCKER_EMAIL" ] ||
    docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"'
  - '[ -z "$DOCKER_EMAIL" ] ||
    ([ "$TRAVIS_BRANCH" == master ] && TAG=latest || TAG="$TRAVIS_BRANCH" &&
    docker tag normandy:build "mozilla/normandy:$TAG" &&
    docker push "mozilla/normandy:$TAG")'
  - '[ -z "$DOCKER_EMAIL" -o -z "$TRAVIS_TAG ] ||
    (docker tag normandy:build "mozilla/normandy:$TRAVIS_TAG" &&
    docker push "mozilla/normandy:$TRAVIS_TAG")'

addons:
  postgresql: "9.4"
services:
  - postgres
  - docker

env:
  global:
    - secure: BWKGL+tSFYS6RqXJxZ8Chco54Yt5iWhQgMYor7TXm2F0MOdQooK2MopUcPmQNe8VA1j5ETSe+6fz90ZMkojMgkyySphzF/tPWQOPC2arEiUdN62nEyAj0U7D7FQ5bV1MISYDCS88UTT04FfPc7S5rHUu+NA7IwkqGNcP/ZkMAQtwEr7RBPYB0TZ/9fxv5Bm2BxnTNW4M4VGnd2tjry+UOJvQ+gcW1tGykx0026lEbeF684qSYGyyifVJlECuyWz5MQ3Q+TpjtwM9FRL+BxDMm7c026za/cMRg8SukNjKFgp6qeUVUF+EvFnRictMAzd+4jBaduyBJrQWDNulaWdleY1IeAw/cuUMApcvRO2YV9YZIArq4D3fSvS9gTDOP7vkAeyai2Qc8UEGi/N8VMdJXQit6TsczfosNGPegxsCDKfncmV3ti0/OmhRCCqLK+7OQOwEwdbG/wsnai2EzJJ9jPufY3yq8jdI7IyZB/O8eAhFtBUNIhMoO1t7B4T1exTASfuZdRVpmy4viTzHbusTb/Jd2aRh49GHoqBVGJiumSEnU1VLB5Br8gPUmzPInt9OwoDVqsDKK4col8Ydh+rVLzES3q70rmXudhssgIy5M5+sTuSkl8YNxyCsJpPE16jvmaOizwcEMO8HM7uH1gCNCBgQ5DwqFI4QnXz9Xw9F5Y0=
    - secure: fJI9/ROAZLni60HKuGLay8VkFDWUVmbEyYj2YIwV7ejAhGEAmlUlqPO5EfUg+WHyEKSA+Lk8CCL1+cmiemAJr5YDIdA1FXaut8xB3VnmE3AluLvoJ5oKwc+LmQ3iC+rCLZJ7d9bni/4r3pA0x7vN4lCeEpdi2u1xn3r/24wCQFK1umaGNzQmwonHwSkqqiKrU+Q5aiN04KTlDVz0j9E9SRApTlLQw02H6kjObhlORIYzAoyaVR0L8O/+cvwiaDcjseZqJq2K7Q4hAk1nczRUEZU86V4Bx2Vi4fp4K12oW/JpnrBw4VL5wIM0ROxOMFCVcw0FERDbLzKZk1BoY5TGYK7HWLOkuOisQPnox2pFt0jGYP/GGRPzjs9q5YAIh0FQrpWs06sdupGXTDO31f4lOIuy81avsQSdvvMZp8kPVy57OmwM7PBD/H8j197OGZ1EnyUdEOad3++QXSNWU7lQAT3/jJoK4s4EGtwB7pq5TzVOJJ3bLaryLI//TRuMX2OBoD5xhjntGG7bVdoV+knU76meli8IgRzsZaUCsorGg6m6kipMj/1MGyzMU+/F5j24ANnk75fdD0SpfiI3KK394MvjDW7DQOMJUS8Po6vDMl7mmOd8I98I/rmWn/RTPa65GWNMGUdlAGbSsJ3Dmza61WZDmW7PrGJLRrOAtVi7KhI=
    - secure: kVo3FMLTwv/nfUPoJmJkEPCp3UENKtCCY0hEiTgpjHqpXweeuyGmVHRVSaLvfe1lC5gAGcmimr1H4Bv3KkUk4pE9M3ZMwBAyYvhu3m93CZS01O4+pZlR+xL9rJffkauHUMH6iByUQZ6Un4OGcMRVQF3DlWm9D8IAlctIfcUawQTHF1z/0O/j2h7VmMn0WYctusXBdtCRi5lTnjsPHesWRFXg8PzoMIAFR6LOxtqbY9T679+EXaQGURKsjxrfgw5pq0IuNKNyz/CimQs8fYwMjrZD6x0PwUdW5Hi5nhMZlvqTKlxw4SnIp6KUCcIYdBdSd8uVET3DRxsyJTqfAittRNj7uN5xr5+Meu4c5TVkWRSerUSufJQzgeBsWzfZa0e+iNV16LH3jdILNICvdRc9MjwU/+VbwRKDRGDCalG36+/Ewl+PgkQkEwtlaTvWwa7KIcag074kz6G8M8Dlve0TpSSTLvlP4lyygqXPnLNSI7bKvcmO4QfUkc4icRTZmcXtY5iQ4oc+gdHKJaNQVkXa2VxypzWeuVgu45xnmbS1lCWg7nad/I5D3+7KAJdbi3y9ZgykGPmmbWt4pGS7tmdHvcLj8ER9QXmhP9NUvwOiIRuCh3yHCC3bCZoQNi2/9O5NONkkQX9kNtwrVdPDupvBMZYg94gbq/+hnxtrePdQcrI=
