{% extends "control/admin/base.html" %}

{% block page-header %}
  <h2>Delete Recipe: <span>{{ object }}</span></h2>
{% endblock %}

{% block content %}
  <div class="fluid-7">
    <form action="" method="post" class="crud-form">
      {% csrf_token %}
      <p>Are you sure you want to delete "{{ object }}"?</p>
      <div class="form-action-buttons">
        <div class="fluid-2 float-right">
          <input type="submit" value="Confirm" class="delete" />
        </div>
      </div>
    </form>
  </div>
{% endblock %}
