{% extends "control/admin/base.html" %}

{% block page-header %}
  <h2><a href="{% url 'control:index' %}">Recipes:</a> <span>{{ recipe.name }}</span></h2>
  <div class="button"><i class="fa fa-history pre"></i> History</div>
{% endblock %}

{% block content %}
  <div id="secondary-header" class="fluid-8">
    <h3><i class="fa fa-edit"></i> Edit Recipe</h3>
  </div>

  <div class="fluid-7">
    <form id="edit-recipe-form" class="crud-form" action="" method="post">{% csrf_token %}
      {{ form.non_field_errors }}

      <div class="row">
        <div class="fluid-3">
          {{ form.name.errors }}
          <label for="{{ form.name.id_for_label }}">Name:</label>
          {{ form.name }}
        </div>

        <div class="fluid-3 float-right">
          {{ form.enabled.errors }}
          {{ form.enabled }}
          <div class="checkbox-container {{ recipe.enabled|yesno:'green,red' }}">
            <span {{ recipe.enabled|yesno:',hidden' }}><i class="fa fa-check fa-lg pre"></i> Enabled</span>
            <span {{ recipe.enabled|yesno:'hidden,' }}><i class="fa fa-times fa-lg pre"></i> Disabled</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="fluid-3">
          {{ form.action.errors }}
          <label for="{{ form.action.id_for_label }}">Action:</label>
          {{ form.action }}

          <!-- hiding arguments_json until the action form rendering is finalized -->
          <div hidden>
            {{ form.arguments_json }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="fluid-3">
          {{ form.sample_rate.errors }}
          <label for="{{ form.sample_rate.id_for_label }}">Sample Rate:</label>
          {{ form.sample_rate }}
          <p class="help">{{ form.sample_rate.help_text }}</p>
        </div>
      </div>

      <div class="row">
        <div class="fluid-3">
          {{ form.release_channels.errors }}
          <label for="{{ form.release_channels.id_for_label }}">Release Channels:</label>
          {{ form.release_channels }}
        </div>
      </div>

      <div class="row">
        <div class="fluid-3">
          {{ form.start_time.errors }}
          <label for="{{ form.start_time.id_for_label }}">Start Time:</label>
          <div class="input-with-icon calendar">
            {{ form.start_time }}
          </div>
        </div>

        <div class="fluid-3 float-right">
          {{ form.end_time.errors }}
          <label for="{{ form.end_time.id_for_label }}">End Time:</label>
          <div class="input-with-icon calendar">
            {{ form.end_time }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="fluid-3">
          {{ form.locales.errors }}
          <label for="{{ form.locales.id_for_label }}">Available Locales:</label>
          {{ form.locales }}
          <a href="#" class="batch-select">Select all <i class="fa fa-angle-right post"></i></a>
        </div>

        <div class="fluid-1 select-arrows">
          <i class="fa fa-chevron-right fa-lg"></i>
          <i class="fa fa-chevron-left fa-lg"></i>
        </div>

        <div class="fluid-3">
          {{ form.locales.errors }}
          <label for="{{ form.locales.id_for_label }}">Selected Locales:</label>
          <select multiple="multiple"></select>
          <a href="#" class="batch-select"><i class="fa fa-angle-left pre"></i> Remove all</a>
        </div>
      </div>

      <div class="row">
        <div class="fluid-3">
          {{ form.countries.errors }}
          <label for="{{ form.countries.id_for_label }}">Available Countries:</label>
          {{ form.countries }}
          <a href="#" class="batch-select">Select all <i class="fa fa-angle-right post"></i></a>
        </div>

        <div class="fluid-1 select-arrows">
          <i class="fa fa-chevron-right fa-lg"></i>
          <i class="fa fa-chevron-left fa-lg"></i>
        </div>

        <div class="fluid-3">
          {{ form.countries.errors }}
          <label for="{{ form.countries.id_for_label }}">Selected Countries:</label>
          <select multiple="multiple"></select>
          <a href="#" class="batch-select"><i class="fa fa-angle-left pre"></i> Remove all</a>
        </div>
      </div>

      <div class="row form-action-buttons">
        <div class="fluid-2">
          <a href="{% url 'control:delete_recipe' recipe.id %}" class="button delete">Delete</a>
        </div>

        <div class="fluid-2 float-right">
          <input type="submit" name="_save" value="Save" />
        </div>
      </div>

    </form>
  </div>
{% endblock %}
