{% extends "control/admin/base.html" %}

{% block page-header %}
  <h2>Recipes</h2>
  <a href="{% url 'control:new_recipe' %}" class="button"><i class="fa fa-plus pre"></i> Add New</a>
{% endblock %}

{% block content %}
  <div id="secondary-header" class="fluid-8">
    <div class="fluid-2">
      <div class="search input-with-icon"><input type="text" placeholder="Search"></div>
    </div>
    <div id="filters-container" class="fluid-6">
      <h4>Filter By:</h4>
      <div class="switch">
        <input type="radio" class="switch-input" name="view" value="All" id="all" checked>
        <label for="week" class="switch-label switch-label-off">All</label>
        <input type="radio" class="switch-input" name="view" value="Enabled" id="enabled">
        <label for="month" class="switch-label switch-label-on">Enabled</label>
        <input type="radio" class="switch-input" name="view" value="Disabled" id="disabled">
        <label for="week" class="switch-label switch-label-off">Disabled</label>
        <span class="switch-selection"></span>
      </div>
    </div>
  </div>

  <div class="fluid-8">
    {% if all_recipes_list %}
      <table id="recipe-list">
        <thead>
          <tr>
            <td>Name</td>
            <td>Action</td>
            <td>Enabled</td>
            <td>Sample Rate</td>
            <td>Release Channels</td>
          </tr>
        </thead>
        <tbody>
        {% for recipe in all_recipes_list %}
            <tr data-recipe-id="{{ recipe.id }}">
              <td><a href="{% url 'control:edit_recipe' recipe.id %}">{{ recipe.name }}</a></td>
              <td>{{ recipe.action }}</td>
              <td class="text-center">
                {% if recipe.enabled == True %}
                  <i class="fa fa-check fa-lg green"></i>
                {% else %}
                  <i class="fa fa-times fa-lg red"></i>
                {% endif %}
              </td>
              <td>{{ recipe.sample_rate }}</td>
              <td>
                {% if recipe.release_channels.all|length == 4 %}
                  All Channels
                {% else %}
                  {{ recipe.release_channels.all|join:"<br />"|default:"All Channels" }}
                {% endif %}
              </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No recipes exist.</p>
    {% endif %}
  </div>
{% endblock %}

