{% load i18n %}
<!DOCTYPE html> {% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE|default:" en-us " }}">

<head>
  <title>SHIELD Control Panel</title>
  <meta name="robots" content="NONE,NOARCHIVE" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="icon" href="{{STATIC_URL}}img/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="{{STATIC_URL}}img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{STATIC_URL}}img/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{STATIC_URL}}img/favicon-16x16.png">
</head>

<body class="{% block bodyclass %}{% endblock %}">
  {% block content %}
  <center>
    <h1>This interface has been removed.</h1>
    <p>
      Please use
      <a href="{{ DELIVERY_CONSOLE_URL }}">Delivery Console</a> instead.
    </p>
  </center>
  {% endblock %}
</body>

</html>