{% extends "control/admin/base.html" %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    Recipes
  </div>
{% endblock %}

{% block content %}
  <div id="recipe-list" class="fluid-6">
    <h2>Recipes</h2>
    {% if all_recipes_list %}
      <ul class="table-list">
        {% for recipe in all_recipes_list %}
            <li><a href="{% url 'control:edit_recipe' recipe.id %}">{{ recipe.name }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No recipes exist.</p>
    {% endif %}
  </div>
{% endblock %}
