.dropdown-menu {
  background: #CCC;
  display: block;
  float: right;
  position: relative;

  .dropdown-trigger {
    cursor: pointer;

    .fa {
      display: inline-block;
      margin-right: 0.5em;
    }
  }

  .dropdown-content {
    background: #FFF;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    max-height: 30vh;
    max-width: none;
    min-width: 150px;
    overflow: auto;
    padding: 1em 2em;
    position: absolute;
    top: 100%;
    width: auto;
    z-index: 25;

    // pin left by default
    &,
    &.pin-left {
      left: 0;
      right: auto;
    }

    &.pin-right {
      left: auto;
      right: 0;
    }

    &.pin-top {
      bottom: 100%;
      min-width: 200px;
      top: auto;
      width: 30vw;
    }

    ul,
    li {
      list-style: none;
      list-style-type: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
