.group-menu {
  .menu-item {
    background-color: transparent;
    cursor: pointer;
    transition: 0.15s background-color ease;

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:last-child {
      margin-bottom: 0.5em;
    }
  }
}
