$cream: #F6F4EF;
$darkCream: #ECE7DB;
$darkestCream: #DAD1BC;
$darkBrown: #585755;

$cta: #7ED0DC;
$ctaHover: #8DE6F3;

$secondaryColor: #BAC2C4;

$green: #96ce96;
$greenHover: #9ae39a;
$red: #e77272;
$redHover: #fb7f7f;

.red { color: $red; }
.green { color: $green; }
