$cream: #F6F4EF;
$darkCream: #ECE7DB;
$darkestCream: #DAD1BC;
$darkBrown: #585755;

$cta: #3FC7D7;
$ctaHover: #39D7EA;

$secondaryColor: #BAC2C4;

$green: #6DBA6D;
$greenHover: #71D571;
$red: #EC5858;
$redHover: #FF5151;
$yellow: #E9E97A;


.red { color: $red; }
.green { color: $green; }
.yellow { color: $yellow; }
