@import 'fonts';
@import 'colors';
@import 'grid';

body {
  background: $cream;
  color: $darkBrown;
  font: normal normal 400 13px/16px $OpenSans;
  margin: 0 auto;
  padding: 0px 40px;
}


/* Links */
a:link, a:visited {
  color: $cta;
  text-decoration: none;
}

a:hover {
  color: $ctaHover;
}


/* Form Elements */
label, .label {
  color: rgba($darkBrown, 0.6);
  display: block;
  font: normal normal 400 12px/16px $OpenSans;
  padding: 5px 0px;
  text-transform: uppercase;
}

input, select, textarea {
  border: 1px solid $darkCream;
  border-radius: 3px;
  font: normal normal 300 15px/30px $SourceSansPro;
  padding: 5px 10px;
  width: 100%;

  &:focus {
    border-color: $darkestCream;
    outline: 0;
  }
}

.input-with-icon {
  position: relative;

  &.user { content: "\f007"; }
  &.key { content: "\f084"; }
  &.search { content: "\f002"; }
  &.calendar { content: "\f073"; }
  &.clock-o { content: "\f017"; }
  &.chevron-down { content: "\f078"; }

  &::after {
    content: inherit;
    font: normal normal 400 14px/1 FontAwesome;
    position: absolute;
    right: 15px;
    top: 30%;
  }
}

.switch-label {
  color: $darkBrown;
  cursor: pointer;
  float: left;
  line-height: 26px;
  padding: 0px;
  position: relative;
  text-align: center;
  text-transform: none;
  width: 33%;
  z-index: 2;
}

.switch-label:active { font-weight: 600; }
.switch-input { display: none; }

.switch-input:checked + .switch-label {
  font-weight: 600;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  transition: 0.15s ease-out;
}

.switch-selection {
  background: linear-gradient(to top, $secondaryColor, rgba(0, 0, 0, 0));
  border-radius: 3px;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  display: block;
  height: 26px;
  position: absolute;
  transition: left 0.15s ease-out;
  width: 33%;
}


/* Call to Action Buttons & Links */
.button, input[type="submit"], input[type="button"], .submit-row input, a.button {
  background: $cta;
  border: 0px;
  border-radius: 0px;
  color: #fff;
  font: normal normal 600 13px/30px $OpenSans;
  padding: 10px 40px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  text-transform: uppercase;
}

.button:active, input[type="submit"]:active, input[type="button"]:active,
.button:focus, input[type="submit"]:focus, input[type="button"]:focus,
.button:hover, input[type="submit"]:hover, input[type="button"]:hover {
  background: $ctaHover;
  cursor: pointer;
}


/* Tables */
table {
  border-collapse: collapse;
  font-family: $SourceSansPro;
  width: 100%;

  a:link, a:visited {
    color: $darkBrown;
  }
}

thead {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  font-family: $OpenSans;
}

tr:nth-child(even) {
  background: rgba($cream, 0.5);
}

td {
  border-bottom: 0px;
  padding: 25px;
  text-align: center;
}

tbody {
  tr:hover {
    background: rgba(26, 183, 218, 0.1);
    cursor: pointer;
  }
}


/* Unordered List */
li {
  list-style-type: none;
  padding: 25px;

  &:nth-child(even) {
    background: rgba($cream, 0.5);
  }

  &:hover {
    background: rgba(26, 183, 218, 0.1);
    cursor: pointer;
  }
}


/* Icons */
i {
  &.pre { margin-right: 5px; }
  &.post { margin-left: 5px; }
}


/* Notifications */
#notification-bar {
  transition: top 0.25s;
  background-color: #fff;
  left: 40px;
  position: fixed;
  right: 40px;
  top: -55px;
  z-index: 1;

  &.active {
    top: 2px;
  }
}

p.notification {
  color: rgba(0,0,0,0.6);
  font-size: 12px;
  line-height: 22px;
  padding: 15px 30px;
  position: relative;
  text-indent: 20px;

  &::before {
    font: normal normal 400 14px/1 FontAwesome;
    left: 10px;
    opacity: 0.75;
    position: absolute;
    top: 36%;
  }

  &.success {
    background-color: rgba($green, 0.75);
    &::before {  content: "\f00c"; }
  }

  &.error {
    background-color: rgba($red, 0.75);
    &::before {  content: "\f12a"; }
  }

  &.info {
    background-color: rgba($yellow, 0.75);
    &::before {  content: "\f129"; }
  }

  i.remove-message {
    float: right;
    padding: 5px;

    &:hover {
      cursor: pointer;
    }
  }
}
