{% load i18n %}
{% load render_bundle from normandy_webpack_loader %}
{% load logout_button from normandy_logout_button %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}

<html
  lang="{{ LANGUAGE_CODE|default:"en-us" }}"
  data-csrf="{{csrf_token}}"
  {% if request.user.is_authenticated %}data-current-user="{{ request.user.id }}"{% endif %}
  data-peer-approval-enforced="{{ PEER_APPROVAL_ENFORCED|yesno:'true,false' }}"
>
  <head>
    <title>SHIELD Control Panel</title>
    {% render_bundle 'vendor' 'css' 'VENDOR' %}
    {% render_bundle 'control' 'css' %}
    <meta name="robots" content="NONE,NOARCHIVE" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{STATIC_URL}}img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{STATIC_URL}}img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{STATIC_URL}}img/favicon-16x16.png">
  </head>

  <body class="{% block bodyclass %}{% endblock %}">

    <!-- Container -->
    <div id="container">

      <div id="header">
        <h1><a href="{% url 'control:index' %}">SHIELD Control Panel</a></h1>
        {% if user.is_authenticated %}
          <span>
            {% firstof user.get_short_name user.get_username %} //
            {% logout_button %}
          </span>
        {% endif %}
      </div>

      {% block page-header %}{% endblock %}
      {% block content %}
        <div id="page-container"></div>
      {% endblock %}

    </div>
    <!-- END Container -->
    {% block javascript %}
      {% render_bundle 'vendor' 'js' 'VENDOR' %}
      {% render_bundle 'control' 'js' %}
    {% endblock %}
  </body>
</html>
