.experiment-row {
  margin-top: 10px;
  margin-bottom: 10px;

  p, span {
    font-size: 1.2em;
    margin-bottom: 15px;
  }

  button {
    margin-left: 10px;
  }

  .experiment-population {
    font-size: 1.3em;
  }

  .project-name, .variant-label, .experiment-population-size, .experiment-pref-key {
    color: #444;
    font-weight: bold;
    margin-right: 5px;
  }

  .experiment-variant-title {
    font-size: 1.2em;
  }

  .experiment-section {
    margin-bottom: 10px;
  }
}

.experiment-reject-modal {
  p {
    font-size: 1.2em;
  }

  textarea {
    border-radius: 5px;
    border: #ddd 1px solid;
    width: 100%;
  }
}
