// Imports
@import '~photon-ant';

// Use locally-hosted Ant icon font
@icon-url: '~control/fonts/iconfont';

@import './ant-override';

// Pages
@import 'pages/404';
@import 'pages/login';
@import 'pages/gateway';
@import 'pages/recipe-details';
@import 'pages/recipe-form';

// Components
@import 'components/boolean-icon';
@import 'components/identicons';
@import 'components/form-actions';
@import 'components/history-timeline';
@import 'components/listing';
@import 'components/nav-menu';
@import 'components/switchbox';

// Common
body {
  height: 100%;
  letter-spacing: calc(0.025em + 0.01vw);
}

.clearfix() {
  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

#main,
#main > .ant-layout {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex: 1;
  justify-content: flex-start;

  .ant-layout-content {
    flex: 0;
    flex-grow: 1;
  }
}

.centered {
  text-align: center;
}

.righted {
  text-align: right;
}

.current-user {
  float: right;
  position: relative;
  z-index: 1;

  .email {
    margin-right: 16px;
  }
}

.logo {
  color: #333;
  font-size: 22px;
  font-weight: 900;
  position: relative;
  white-space: nowrap;

  .anticon.anticon-shield {
    position: relative;
    top: 1px;
  }

  @media (max-width: @screen-xs) {
    font-size: 5.5vw;
  }
}
