@import 'partials/common';

/* Layout */
#container { margin: 0 auto; }
#content { background: #fff; }

#header {
  color: $darkBrown;
  line-height: 55px;

  h1 {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;

    a:link, a:visited { color: $darkBrown; }
  }

  span {
    float: right;
    font-size: 11px;

    a:link, a:visited { font-weight: 600; }
  }
}


#page-header {
  background: $darkBrown;
  display: flex;
  position: relative;

  h2 {
    color: $cream;
    flex: 1;
    font: normal normal 300 20px/30px $SourceSansPro;
    padding: 15px 30px;

    a:link, a:visited { color: $cream; }

    .fa {
      margin: 0 5px;
      font-size: 15px;
    }

    span:last-child .fa {
      display: none;
    }
  }

  .button {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    height: 100%;
    line-height: 40px;
    min-width: 165px;
  }
}


#secondary-header {
  background-color: $secondaryColor;
  border-top: 1px solid #fff;
  margin: 0 0 30px 0;
  padding: 0px;

  h3 {
    color: $darkBrown;
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 15px;
    padding: 0px 15px;
  }

  h4 {
    display: inline-block;
    line-height: 35px;
    margin: 0 0 0 35px;
  }

  input, .switch {
    background: rgba(0, 0, 0, 0.1);
    border: 0px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    font: normal normal 300 13px/22px $OpenSans;
    min-width: 210px;
    padding: 5px;
    position: relative;

    &[type='text'] { padding: 7px 14px; }
  }

  #filters-container {
    text-align: right;

    > div {
      display: inline-block;
      float: right;
      margin: 0 0 0 16px;
    }
  }
}


/* Content */
#content {
  h3 {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 15px 0;
  }
}


/* 404 NoMatch Page */
.no-match {
  padding: 30px 45px;

  h2 {
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 10px;
  }
}


/* Add & Edit Forms */
.crud-form {
  padding: 30px 45px;

  input[type="checkbox"] {
    width: auto;
    margin: 0 5px;
  }

  input[type="number"] { width: 20%; }

  .fluid-1 { width: 6.25%; }
  .fluid-3 { width: 46.875%; }

  .help {
    font-size: 11px;
    margin: 5px 0px;
    opacity: 0.5;
  }

  .validation-error {
    color: $red;
    float: right;
    font-size: 11px;
    text-transform: lowercase;
  }

  /* Custom checkbox toggle for enabled/disabled state */
  .checkbox-container {
    border: 1px solid;
    border-radius: 3px;
    float: right;
    font-size: 12px;
    line-height: 30px;
    margin-top: 10px;
    min-width: 110px;
    padding: 5px 15px;
    text-transform: uppercase;

    &:hover { cursor: pointer; }
  }

  /* Select arrows for toggling locales & countries */
  .select-arrows {
    line-height: 35px;
    margin-top: 30px;
    text-align: center;
    width: 6.25%;

    i {
      display: block;
      padding: 10px 0px;
    }
  }

  a.batch-select {
    display: block;
    font-size: 11px;
    font-weight: 600;
    padding: 8px 0px;
    text-align: center;
    text-transform: uppercase;
  }

  /* Action buttons (submit, delete, etc) */
  .form-action-buttons {
    border-top: 1px solid $darkCream;
    line-height: 30px;
    margin-top: 30px;
    padding-top: 15px;

    a.delete, input[type="submit"].delete {
      background-color: $red;
      display: inline-block;

      &:hover {
        background-color: $redHover;
      }
    }
  }
}

/* Action Forms */
#action-configuration {
  background: $cream;
  clear: both;
  margin: 1em;
  padding: 30px;
  position: relative;

  i.fa-caret-up {
    color: $cream;
    left: 15px;
    position: absolute;
    top: -10px;
  }

  h4 {
    display: inline-block;
    font-weight: 600;
    line-height: 30px;
  }

  .row {
    padding: 0.5em 0;
  }

  .active {
    background-color: rgba(255,255,255,0.5);
    border-bottom: 1px solid $darkCream;
  }

  .array-field {
    margin-top: 25px;

    a.add-field {
      float: right;
      padding: 0px 15px;
    }

    ul {
      margin-top: 25px;

      li {
        border: 1px solid transparent;
        font-size: 13px;
        line-height: 30px;
        list-style-type: none;
        padding: 5px 1em;
        transition: all 0.2s;

        .delete-field {
          display: inline-block;
          float: right;
        }

        &:not(.active):hover {
          background-color: transparent;
          color: $cta;
          cursor: pointer;
        }

        &.active {
          margin: 0px -2em;
          padding: 5px 3em;
        }

        &.invalid {
          color: $red;
          font-weight: 700;

          &:before {
            border: none;
            color: $red;
            content: "\f071"; // error icon, fa-exclamation-triangle
            font: normal normal 400 11px/1 FontAwesome;
            left: -1.5em;
            margin-right: 4px;
          }
        }

        &:before {
          border-color: transparent $darkBrown;
          border-style: solid;
          border-width: 0.35em 0 0.35em 0.35em;
          content: "";
          display: inline-block;
          height: 0;
          left: -1em;
          position: relative;
          top: 50%;
          width: 0;
        }
      }
    }
  }

  /* Heartbeat Survey Form */
  #survey-form {
    margin-top: -50px;
    padding: 40px;
    position: relative;
    transition: all 0.2s;

    span.return-to-defaults {
      font-size: 11px;
      position: absolute;
      right: 20px;
      top: 15px;

      &:hover {
        color: $ctaHover;
        cursor: pointer;
      }
    }
  }
}


/* Recipe History */
.recipe-history {
  .history-item {
    display: flex;
    flex-direction: row;

    .revision-number,
    .revision-created {
      line-height: 20px;
      margin: 0 20px;
    }

    .revision-number {
      flex: 0;
      font-weight: 600;
    }

    .revision-created {
      flex: 1;
    }

    .revision-status {
      flex: 1;
      margin: 0 20px; /* Reset .status-indicator margin */
    }

    .label {
      padding: 0px;
    }
  }
}


/* Login Page */
.login {
  padding: 100px 0px;

  #container { width: 28em; }
  #header { display: none; }
  #content { padding: 20px; }
}

/* Status Indicator */
.status-indicator {
    border: 1px solid;
    border-radius: 3px;
    font-size: 12px;
    line-height: 30px;
    margin-top: 10px;
    padding: 5px 15px;
    text-transform: uppercase;

    p {
      line-height: 15px;
      margin: 0 0 10px 20px;
      text-transform: none;
    }
}
