{% extends 'admin/base_site.html' %}
{% load static normandy_classifier_admin %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/classifier_preview.css' %}" />
  {{ form.media.css }}
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
  <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {{ form.media.js }}
{% endblock %}

{% block content %}
  <form method="get">
    {{ form.non_field_errors }}
    <div class="client-properties">
      {% form_field form.locale %}
      {% form_field form.country %}
      {% form_field form.release_channel %}
      {% form_field form.request_time %}
    </div>
    <div class="submit-row">
      <input class="default" type="submit" value="Match Recipes"></input>
    </div>
  </form>

  {% if bundle %}
    <h2>Matched Recipes</h2>
    <table class="matched-recipes">
      <thead>
        <tr>
          <th>Name</th>
          <th>Locales</th>
          <th>Countries</th>
          <th>Release Channels</th>
          <th>Sample Rate</th>
        </tr>
      </thead>
      <tbody>
        {% for recipe in bundle %}
          <tr>
            <td>
              <a href="{% url 'admin:recipes_recipe_change' recipe.id %}">
                {{ recipe.name }}
              </a>
            </td>
            <td>{{ recipe.get_locales_display }}</td>
            <td>{{ recipe.get_countries_display }}</td>
            <td>{{ recipe.get_release_channels_display }}</td>
            <td>{{ recipe.sample_rate }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5">No recipes matched</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
