@import 'fonts';
@import 'colors';
@import 'grid';

body {
  background: $cream;
  color: $darkBrown;
  font: normal normal 400 13px/16px $OpenSans;
  margin: 0 auto;
  min-width: 640px;
  padding: 0 40px;
}


/* Links */
a:link,
a:visited {
  color: $cta;
  text-decoration: none;
}

a:hover {
  color: $ctaHover;
}

/* Form Elements */
label,
.label {
  color: rgba($darkBrown, 0.6);
  display: block;
  font: normal normal 400 12px/16px $OpenSans;
  padding: 5px 0;
  text-transform: uppercase;
}

input,
select,
textarea {
  border: 1px solid $darkCream;
  border-radius: 3px;
  font: normal normal 300 15px/30px $SourceSansPro;
  padding: 5px 10px;
  text-transform: none;
  width: 100%;

  &:focus {
    border-color: $darkestCream;
    outline: 0;
  }
}

.input-with-icon {
  position: relative;

  &.user { content: "\f007"; }
  &.key { content: "\f084"; }
  &.search { content: "\f002"; }
  &.calendar { content: "\f073"; }
  &.clock-o { content: "\f017"; }
  &.chevron-down { content: "\f078"; }

  &::after {
    content: inherit;
    font: normal normal 400 14px/1 FontAwesome;
    position: absolute;
    right: 15px;
    top: 30%;
  }
}

.switch span {
  color: $darkBrown;
  cursor: pointer;
  float: left;
  font-size: 12px;
  line-height: 26px;
  padding: 0;
  position: relative;
  text-align: center;
  text-transform: none;
  width: 33%;
  z-index: 2;

  &.active {
    font-weight: 600;
    height: 26px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  }
}

.switch-selection {
  background: linear-gradient(to top, $secondaryColor, rgba(0, 0, 0, 0));
  border-radius: 3px;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  display: block;
  height: 26px;
  left: 5px;
  position: absolute;
  top: 5px;
  transition: left 0.15s ease-out;
  width: 33%;
  z-index: 1;

  &.position-1 { left: 33%; }
  &.position-2 { left: 65%; }
}


/* Call to Action Buttons & Links */
.button,
input[type="submit"],
input[type="button"],
.submit-row input,
a.button {
  background: $cta;
  border: 0;
  border-radius: 0;
  color: #FFF;
  font: normal normal 600 13px/30px $OpenSans;
  padding: 10px 40px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;

  &.delete {
    background-color: $red;
    display: inline-block;

    &:hover {
      background-color: $redHover;
    }
  }
}

.button:active,
input[type="submit"]:active,
input[type="button"]:active,
.button:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background: $ctaHover;
  cursor: pointer;
}

.button:disabled {
  background: $grey;
  cursor: wait;
}


/* Tables */
table {
  border-collapse: collapse;
  font-family: $SourceSansPro;
  table-layout: fixed;
  width: 100%;

  a:link,
  a:visited {
    color: $darkBrown;
  }
}

thead {
  font-family: $OpenSans;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;

  th {
    outline: 0;
    padding: 5px 0;
    position: relative;
    &:hover { cursor: pointer; }

    span::after {
      color: $secondaryColor;
      content: "\f0dc";
      display: inline-block;
      font: normal normal 400 16px/18px FontAwesome;
      margin: 0 0 0 10px;
      position: absolute;
    }

    &.reactable-header-sort-asc {
      span::after {
        color: $cta;
        content: "\f0de";
        font-size-adjust: 0.85;
        margin-top: 6px;
      }
    }

    &.reactable-header-sort-desc {
      span::after {
        color: $cta;
        content: "\f0dd";
        font-size-adjust: 0.85;
        margin-top: -5px;
      }
    }
  }
}

tr:nth-child(even) {
  background: rgba($cream, 0.5);
}

td {
  border-bottom: 0;
  padding: 25px;
  text-align: center;
}

tbody {
  tr:hover {
    background: rgba(26, 183, 218, 0.1);
    cursor: pointer;
  }
}

/* Icons */
i {
  &.pre { margin-right: 5px; }
  &.post { margin-left: 5px; }
}


/* Notifications */
.notifications {
  left: 40px;
  position: fixed;
  right: 40px;
  top: 2px;
  z-index: 1;
}

.notification {
  $line-height: 22px;
  $top-padding: 15px;

  /* Notification animation variable(s).
    These assume only one line of text but that's fine. */
  $notificationHeight: ($top-padding * 2) + $line-height;

  background-color: #FFF;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  line-height: $line-height;
  margin-bottom: 2px;
  overflow: hidden;
  text-indent: 20px;

  .message {
    padding: $top-padding 30px;

    &::before {
      font: normal normal 400 14px/1 FontAwesome;
      margin-right: 10px;
      opacity: 0.75;
    }

    &.success {
      background-color: rgba($green, 0.75);
      &::before { content: "\f00c"; }
    }

    &.error {
      background-color: rgba($red, 0.75);
      &::before { content: "\f12a"; }
    }

    &.info {
      background-color: rgba($yellow, 0.75);
      &::before { content: "\f129"; }
    }
  }

  i.remove-message {
    float: right;
    padding: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  /* Notification animation classes */
  &.notification-enter {
    height: 0;
  }

  &.notification-enter-active {
    height: $notificationHeight;
    transition: height 200ms ease-out;
  }

  &.notification-leave {
    height: $notificationHeight;
  }

  &.notification-leave-active {
    height: 0;
    transition: height 200ms ease-in;
  }
}


.callout {
  background: rgba(19, 124, 189, 0.15);
  border-radius: 4px;
  display: block;
  padding: 1em;
  text-align: center;
  width: 100%;
}

.recipe-form {
  .callout {
    float: right;
    text-align: left;
    width: 45%;
  }
}

.col-trigger {
  border-radius: 2px;
  display: block;
  padding: 1em;
}


.form-frame {
  background: $cream;
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 2em;
  padding: 0.5em 1em 1em;

  .frame-title {
    display: inline-block;
    padding: 0 0.5em;
  }

  .form-frame {
    border-radius: 4px;
  }

  // Recipe form-specific
  &.channels {
    width: 50%;
  }
}

.multipicker {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;

  .mp-frame {
    margin-bottom: 0;
    width: 50%;

    label,
    .label,
    select,
    button {
      text-transform: none;
    }

    &.mp-from {
      border-radius: 4px 0 0 4px;
      border-right: none;
    }

    &.mp-to {
      border-radius: 0 4px 4px 0;
    }
  }

  .mp-button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  option {
    &::after {
      content: " (" attr(title) ")";
      font-size: 0.75em;
      margin-left: 0.5em;
    }

    &.option-label::after {
      display: none;
    }
  }
}

.form-field .checkbox-list {
  label {
    color: $darkBrown;
    text-transform: none;

    span {
      padding-left: 1em;
    }
  }

  input {
    float: none;
  }
}

pre {
  overflow: auto;
}
