@primary-color: #108EE9;

// Fix alerts not using the correct blue color.
.ant-alert-info {
  background-color: @blue-1;
  border-color: @blue-2;
}

// Component styles
.ant-breadcrumb {
  margin: 12px 0;
}

.ant-layout-header {
  background: @primary-3;

  @media (max-width: @screen-xs) {
    padding: 0 14vw;
  }
}

.ant-menu-submenu-title {
  background: fade(@black, 3%);
}

.ant-menu-item-selected {
  background: mix(@primary-color, #FFF, 1%) !important;
}

.ant-form-item {
  margin-bottom: 1em;
}

.ant-layout-sider.sidebar {
  background: @component-background;

  .ant-menu-inline {
    border: none;
  }
}

.ant-tag {
  margin-bottom: 0.5em;
}

a {
  color: @primary-9;
}

// ant Card's `noHovering` doesn't seem to do anything, so this class makes up for it.
.noHovering:hover,
.noHovering:focus {
  border-color: @border-color-split;
  box-shadow: none;
}


.ant-transfer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.ant-transfer-list {
  flex-grow: 0;
  flex-shrink: 1;
  height: 35vh;
  min-height: 200px;
  width: 50%;
}

.ant-transfer-operation {
  overflow: visible;
}
