@primary-color: #108EE9;

// Fix alerts not using the correct blue color.
.ant-alert-info {
  background-color: @blue-1;
  border-color: @blue-2;
}

// Component styles
.ant-breadcrumb {
  margin: 12px 0;
}

.ant-layout-header {
  background: @primary-3;

  @media (max-width: @screen-xs) {
    padding: 0 14vw;
  }
}

.ant-menu-submenu-title {
  background: fade(@black, 3%);
}

.ant-menu-item-selected {
  background: mix(@primary-color, #FFF, 1%) !important;
}

.ant-form-item {
  margin-bottom: 1em;
}

.ant-layout-sider.sidebar {
  background: @component-background;

  .ant-menu-inline {
    border: none;
  }
}

.ant-tag {
  margin-bottom: 0.5em;
}

a {
  color: @primary-9;
}
