// Imports
@import '~antd/dist/antd.less';
@import 'ant-override';

// Pages
@import 'pages/404';
@import 'pages/gateway';
@import 'listing';

@primary-color: #1C5253;

// Common
body {
  height: 100%;
}

.clearfix() {
  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

#main,
#main > .ant-layout {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.centered {
  text-align: center;
}

.righted {
  text-align: right;
}

.boolean-icon {
  font-size: 16px;
  font-weight: bold;

  &.true {
    color: #0C0;
  }

  &.false {
    color: #C00;
  }
}

.logo {
  color: #333;
  font-size: 22px;
  padding-left: 48px;
  position: relative;
  white-space: nowrap;

  &::before {
    background: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 32px;
    left: 0;
    margin-top: -16px;
    position: absolute;
    top: 50%;
    width: 32px;
  }

  @media (max-width: @screen-xs) {
    font-size: 5.5vw;
    padding-left: 38px;
  }
}

.sidebar {
  background: @white;
}

.content-wrapper {
  padding: 0 24px 24px;
}

.content {
  background: @white;
  padding: 24px;
}

#main {
  min-height: 100%;
}

/* Buttons at the bottom of a form */
.form-actions {
  .clearfix();

  background: #FBFBFB;
  border: 1px solid #D9D9D9;
  padding: 15px;

  .primary {
    float: right;
  }

  .secondary {
    float: left;
  }

  .primary > :not(:last-child),
  .secondary > :not(:last-child) {
    margin-left: 15px;
  }
}
