/* Hide the field for the argument JSON. */
#id_arguments_json {
    display: none;
}

/* Show argument JSON label above arguments editor. */
.field-arguments_json label[for="id_arguments_json"] {
    display: block;
    float: none;
}

/* Styling tweaks to the argument editor. */
.field-arguments_json .arguments-editor h3 {
    background: #79AEC8;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 8px;
    text-align: right;
}

.arguments-editor h3 span {
    color: #FFF;
    float: left;
}

.arguments-editor .row {
    clear: both;
}

.arguments-editor .form-control label {
    text-align: right;
}

.arguments-editor .tabs div {
    margin-bottom: 4px;
}

.arguments-editor .tabs span {
    margin-left: 5px;
}
