@import 'partials/common';
@import 'components/CheckboxList';
@import 'components/DropdownMenu';
@import 'components/GroupMenu';
@import 'components/RecipeFilters';

/* Layout */
#container { margin: 0 auto; }
#content { background: #FFF; }

#header {
  color: $darkBrown;
  line-height: 55px;

  h1 {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;

    a:link,
    a:visited { color: $darkBrown; }
  }

  span {
    float: right;
    font-size: 11px;

    a:link,
    a:visited { font-weight: 600; }
  }
}


#page-header {
  background: $darkBrown;
  display: flex;
  position: relative;

  h2 {
    color: $cream;
    display: block;
    flex: 1;
    font: normal normal 300 20px/30px $SourceSansPro;
    overflow: hidden;
    padding: 15px 30px;
    width: 100%;

    a:link,
    a:visited { color: $cream; }

    .fa {
      font-size: 15px;
      margin: 0 5px;
    }

    span:last-child .fa {
      display: none;
    }
  }

  .breadcrumbs {
    max-width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .button {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    height: 100%;
    line-height: 40px;
    min-width: 165px;
  }
}


#secondary-header {
  background-color: $secondaryColor;
  border-top: 1px solid #FFF;
  margin: 0 0 30px;
  padding: 0;

  .input-with-icon.search {
    position: absolute;
  }

  #filters-container {
    text-align: right;

    > div {
      display: inline-block;
      float: right;
      margin: 0 0 0 16px;
    }

    .dropdown-menu {
      background: #CCC;
    }
  }
}

.header-search {
  h3 {
    color: $darkBrown;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin: 15px;
    padding: 0 15px;
  }

  h4 {
    display: inline-block;
    line-height: 35px;
    margin: 0 0 0 35px;
  }

  input,
  .switch {
    background: rgba(0, 0, 0, 0.1);
    border: 0;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    font: normal normal 300 13px/22px $OpenSans;
    min-width: 210px;
    padding: 5px;
    position: relative;

    &[type='text'] { padding: 7px 14px; }
  }
}


/* 404 NoMatch Page */
.no-match {
  padding: 30px 45px;

  h2 {
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 10px;
  }
}


/* Add & Edit Forms */
.recipe-form {
  padding: 30px 45px;

  &.loading {
    text-align: center;
  }

  .form-field {
    clear: both;
    margin: 0 0 1em;
  }

  /* Only top-level form-fields should be half-width */
  & > .form-field {
    position: relative;
    width: 100%;
  }

  .error {
    color: $red;
    display: block;
    padding-bottom: 5px;
    text-transform: uppercase;
  }

  .field-warning {
    background: $yellow;
    font-weight: bold;
    padding: 15px;

    .fa {
      margin-right: 15px;
    }
  }

  /* A group of related fields, generally for things like radio buttons. */
  .fieldset {
    @extend .form-field;

    border: none;

    .fieldset-label {
      @extend .label;
    }

    /* Checkbox/radio fields within fieldsets should be inline in a row. */
    .checkbox-field,
    .radio-field {
      display: inline-flex;
      margin-right: 1.5em;
    }
  }

  /* Checkbox/radio inputs should appear to the left of the label. */
  .checkbox-field,
  .radio-field {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    input[type="checkbox"],
    input[type="radio"] {
      flex: 0;
      margin: 6px 6px 6px 0;
    }
  }


  /* Action buttons (submit, delete, etc) */
  .form-actions {
    @extend %clearfix;

    border-top: 1px solid $darkCream;
    margin-top: 30px;
    padding: 30px 15px 15px;

    .button {
      float: right;
      margin-left: 5px;

      &.mini-button {
        margin: 0.5em 0 0;
        padding: 0.2em 1em;
      }
    }


    .action-delete {
      float: left;
      margin-left: 0;
      margin-right: 5px;
    }
  }
}

/* Action Forms */
.arguments-fields {
  background: $cream;
  padding: 15px;
  position: relative;

  &::before {
    border: solid;
    border-color: $cream transparent;
    border-width: 0 8px 8px;
    content: "";
    left: 15px;
    position: absolute;
    top: -8px;
  }

  .info {
    color: $darkBrown;
    margin: 0 0 1em;
    width: 50%;
  }
}

/* Preference Experiment Forms */
.branch-header {
  margin: 15px 0;
}

.branch-list {
  list-style-type: none;

  .branch {
    background: $darkCream;
    margin: 0 0 15px;
    padding: 15px;
  }

  .branch-fields {
    display: flex;
    flex-direction: row;
    margin: -15px;

    & > * {
      flex: 2;
      margin: 15px;
    }
  }

  .remove-branch {
    flex: 1;
    padding-top: 26px; /* Empty label gap */

    .button {
      display: block;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

/* Recipe History */
.recipe-history {
  td {
    text-align: left;
  }

  .revision-number {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    /* Force table cell to smallest width */
    width: 91px;
  }

  .status-indicator {
    margin: 0 20px; /* Reset .status-indicator margin */
  }

  .label {
    padding: 0;
  }
}


/* Login Page */
.login {
  padding: 100px 0;

  #container { width: 28em; }
  #header { display: none; }
  #content { padding: 20px; }
}

/* Status Indicator */
.status-indicator {
  border: 1px solid;
  border-radius: 3px;
  display: flex;
  font-size: 12px;
  height: 100%;
  line-height: 1em;
  margin-left: 1em;
  margin-top: 10px;
  max-width: 150px;
  min-width: 130px;
  padding: 1em 0 1em 0.5em;
  position: relative;
  text-transform: uppercase;
  width: 100%;

  &.draft {
    border: 1px solid rgba(0, 0, 0, 0.2);

    .draft-status-icon {
      opacity: 0.8;
    }
  }

  &.pending {
    background: #E8F8FA;
    border-color: $cta;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  }

  &.approved {
    background: #DCEFDC;
    border-color: $green;
    box-shadow: 0 2px 2px rgba($green, 0.3);

    .fa {
      color: #50A950;
    }
  }

  &.rejected {
    background: #FBDDDD;
    border-color: $red;
    box-shadow: 0 2px 2px rgba($red, 0.2);

    .fa {
      color: $red;
    }
  }

  &.approved,
  &.rejected {
    .status-text .flavor-text {
      color: inherit;
      opacity: 0.7;
    }
  }

  .draft-status-icon {
    font-size: 1.9em;
    line-height: 1em;
    margin-left: 0.125em;
    min-height: 1em;
  }

  .status-text {
    left: 3em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    span {
      display: block;

      // apply when the last child is not the only child
      &:last-child:not(:first-child) {
        margin-top: 0.5em;
      }
    }

    .flavor-text {
      color: $lightGrey;
    }
  }

  p {
    line-height: 15px;
    margin: 0 0 10px 20px;
    text-transform: none;
  }

  code {
    font-weight: 600;
    white-space: nowrap;
  }
}

/* Recipe List */
.recipe-list {
  td {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .nested-list {
    .nested-label {
      font-weight: 800;
    }
  }
}

.callout.loading {
  bottom: 2em;
  left: 2em;
  position: fixed;
  right: 2em;
  width: auto;
}
