{% load i18n pipeline %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
  <head>
    <title>SHIELD Control Panel</title>
    {% stylesheet 'control' %}
    <meta name="robots" content="NONE,NOARCHIVE" />
  </head>

  <body class="{% block bodyclass %}{% endblock %}">

    <!-- Container -->
    <div id="container">

      <!-- Header -->
      <div id="header">
        <div id="branding">
          <h1 id="site-name"><a href="/control">SHIELD Control Panel</a></h1>
        </div>
        {% if user.is_authenticated %}
          <div id="user-tools">
            {% firstof user.get_short_name user.get_username %} //
            <a href="{% url 'logout' %}">Log Out</a>
          </div>
        {% endif %}
      </div>
      <!-- END Header -->

      {% block breadcrumbs %}
      {% endblock %}

      <!-- Content -->
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      <!-- END Content -->

    </div>
    <!-- END Container -->

  </body>
</html>
