{% load i18n %}
{% load app_data %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" data-csrf="{{csrf_token}}">
  <head>
    <title>SHIELD Control Panel</title>
    {% render_bundle 'control' 'css' %}
    <meta name="robots" content="NONE,NOARCHIVE" />
  </head>

  <body class="{% block bodyclass %}{% endblock %}">
    {% app_data %}

    {% block page-header %}{% endblock %}
    {% block content %}
      <div id="container"></div>
    {% endblock %}

    {% block javascript %}
      {% render_bundle 'control' 'js' %}
    {% endblock %}
  </body>
</html>
