name: Publish Docs

on:
  workflow_dispatch: # allow manual runs
  push:
    branches:
      - master
    paths: # avoid extra builds
      - docs/**
      - .github/workflows/docs.yml

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: github-pages
  cancel-in-progress: false # skip any intermediate builds but let finish

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.9
      - id: pages
        uses: actions/configure-pages@v4
      - name: Install requirements
        run: |
          python -m venv .venv
          source .venv/bin/activate
          curl -sSL https://install.python-poetry.org | python -
          poetry config virtualenvs.create false
          poetry install --extras docs --no-interaction --verbose --no-ansi
          echo "$VIRTUAL_ENV/bin" >> $GITHUB_PATH
          echo "VIRTUAL_ENV=$VIRTUAL_ENV" >> $GITHUB_ENV
      - name: Make docs
        run: |
          cd docs
          make html
      - uses: actions/upload-pages-artifact@v3
        with:
          path: docs/_build/html
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
